<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%6r [%-20.20t] %-5p %30.30c (%6L) %x %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <!-- Set this level to "debug" if you need more logs from the JVoiceXML servers. -->
            <param name="LevelMin" value="error" />
        </filter>
    </appender>




    <!-- Don't touch this. This is needed by the ServerLogAppender class to find out when the server started. -->
    <logger name="org.jvoicexml">
        <!-- Do NOT mess with this. --><level value="debug"/><!-- Do NOT mess with this. -->
    </logger>

    <root>
        <priority value ="warn" />
        <appender-ref ref="stdout" />
    </root>
</log4j:configuration>
